<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>

        <h2>Please try again!!!</h2>
        <h2>To track error by developers</h2>
        <h3>ControllerName:@Model.ControllerName</h3>
        <h3>ActionMethdName:@Model.ActionName</h3>
        <h3>ErrorMessage:@Model.Exception.Message</h3>

    </hgroup>


</body>
</html>
