@model PrjMVCFirstApplication.Models.Employee
@{
    ViewBag.Title = "DisplayEmployee";
}

<h2>Displaying the Employee</h2>

<ul>
    <li>@Model.id</li>
    <li>@Model.name</li>

    <li>@Model.age</li>

</ul>