<p>datatype works!</p>
<div>
    <!---Interpolation-->
    Name:{{name}} <br/>
    Age:{{age}}<br/>
    Hobbies:{{hobbies}}<br/>
    marks:{{marks}}<br/>
    Boolean Value:{{Istrue}}<br/>
    Tuple value:{{tupleExample}}<br/>
    Dynamic value:{{dynamicvalueExample}}<br/>
    object example:
    father:{{Student.fathername}}<br/>
    city:{{Student.city}}<br/>
    using Json:{{Student | json}}<br/>
</div>
<div>
    <img src="assets/images/car.jpg" alt ="car"/>
<hr/>
<img src ={{picture}} alt ="cat" style = "width:25px;height:25px"/>
<hr/>
<h2>Property binding</h2>
<img [src] = picture alt ="cat" style = "width: 25px;;height:25px"/>
</div>
