<p>productlist works!</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody *ngFor="let p of pro">
        <tr>
            <td>{{p.pname}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
            <td><img [src]=p.image height="100" width="100"></td>
            <td><a [routerLink]="['/productinfo/',p.pid]">View Info here</a></td>
            <!--<td><li *ngIf="loginuser"></li><button (click)="addToCart(p.pid)">Buy</button></td>-->
            <td><li *ngIf="addToCart"><a routerLink="login"></a></td>
            <li *ngIf="loginuser"><a>Hello {{mailid}}</a></li>
            <li *ngIf="loginuser"><a (click)="logOff()">Logoff</a></li>
        </tr>
    </tbody>
</table>